* {
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
}

header {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
}

nav {
  min-height: 16vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  font-size: 1rem;
  flex: 1;
  display: flex;
  justify-content: space-around;
  position: sticky;
}

nav a {
  color: ghostwhite;
  text-decoration: none;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}
body {
  background: black;
  color: ghostwhite;
}
